
.recipeTitle {
  margin-left: 20px;
}

.recipeArrow {
  padding: 6px 6px 0 0;
  margin-left: auto;
}

.recipeHeader {
  padding: 20px 20px 20px 0;
  margin-left: 10%;
  font-size: 25px;
}

.recipeButton {
  width: 200px;
  height: 40px;
  font-size: 18px;
  background-color: #acd27e; 
  border-radius: 100px;
  border: 0;
  transition: all 0.2s;
  margin: 30px 30px 30px 10%;
}

.recipeButton:hover {
  transform: translateY(-3px);
  box-shadow: 0 3px 3px rgb(95, 121, 128);
  cursor: pointer;
}

.recipeButton:active {
  transform: translateY(-1px);
  box-shadow: 0 1px 1px rgb(95, 121, 128);
}

.recipeIngredients {
  margin-right: 5px;
}

.recipeHeader strong,{
  margin-right: 20px;
}

.recipeIngredients:last-child span {
  display: none;
}
 
.recipeUnused {
  padding: 20px;
  padding-left: 10%;
}

.recipeUnused strong {
  margin-right: 20px;
}

.recipeTable {
  margin: 0 auto;
  width: 80%;
  border-collapse: collapse;
}

.recipeTable td {
  padding: 10px 0;
}

.recipeTable tr {
  border-bottom: 1px solid #fff;
  vertical-align: bottom;
}

.recipeTable th {
  width: 45%;
}

.recipeTableHeader {
  text-align: left;
}