.modal {
	padding: 10px 50px 30px 50px;
	background: #ccc;
}

.modal h2 {
	font-size: 35px;
	text-align: center;
}

.modalForm {
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	box-shadow: 0 3px 4px rgba(0, 0, 0, 0.3);
	padding: 20px;
	background: #50a3a2;
}

.modalInputWrap {
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
}

.modalInputWrap label {
	font-size: 20px;
	margin-bottom: 10px;
  align-self: center;
}

.modalInputWrap input {
	height: 30px;
	border-radius: 5px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	font-size: 18px;
	padding: 10px 20px;
	outline: none;
}

.textError {
  color: red;
}

.tableWrap {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.tableWrap label {
  font-size: 20px;
  margin-bottom: 10px;
  align-self: center;
}

.tableForm {
	width: 100%;
}

.tableForm thead {
  background-color: #eee;
}

.tableForm thead button {
  width: 100%;
  border: none;
  border-radius: 3px;
  font-weight: 800;
  font-size: 15px;
  background-color: #ace;
  height: 40px;
  transition: all 0.3s;
}

.tableForm thead button:hover {
  cursor: pointer;
  transform: translateY(-4px);
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.7);
}

.tableForm thead button:active {
  transform: translateY(-1px);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.7);
}

.tableForm tbody tr {
  transform: translateX(-1px);
}

.tableForm th {
  width: 25%;
  height: 40px;
}

.tableForm td {
  text-align: center;
}

.tableForm td input {
  width: 99.3%;
  height: 40px;
  border-radius: 2px;
  border: 0;
  font-size: 15px;
  text-indent: 10px;
}

.tableForm tbody button {
  width: 100%;
  border: none;
  border-radius: 3px;
  font-weight: 800;
  font-size: 15px;
  background-color: rgb(212, 103, 75);
  height: 40px;
  transition: all 0.3s;
}

.tableForm tbody button:hover {
  cursor: pointer;
  transform: translateY(-4px);
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.7);
}

.tableForm tbody button:active {
  transform: translateY(-1px);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.7);
}

.tableForm textarea {
  width: 99.3%;
  text-indent: 10px;
  font-size: 15px;
}

.firstCell {
  width: 75% !important;
}

.formSubmit {
  width: 180px;
  padding: 15px 25px;
  font-size: 18px;
  background-color: rgb(134, 221, 99);
  border: 0;
  border-radius: 50px;
  margin: 20px 40px;
  transition: all 0.3s;
}

.formSubmit:hover {
	cursor: pointer;
	transform: translateY(-4px);
	box-shadow: 1px 4px 3px rgba(0, 0, 0, 0.3);
}

.formSubmit:active {
	cursor: pointer;
	transform: translateY(-1px);
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.formCancel {
  width: 180px;
  padding: 15px 25px;
  font-size: 18px;
  background-color: red;
  border: 0;
  border-radius: 50px;
  margin: 20px 40px;
  transition: all 0.3s;
}

.formCancel:hover {
  cursor: pointer;
	transform: translateY(-4px);
	box-shadow: 1px 4px 3px rgba(0, 0, 0, 0.3);
}

.formCancel:active {
  cursor: pointer;
	transform: translateY(-1px);
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.formCancel a {
  text-decoration: none;
  color: #fff;
}

.formSubmitWrap {
  display: flex;
  justify-content: flex-end;
}

.transition {
  position: absolute;
  left: 0;
  right: 0;
}