
.recipe__title {
  margin-left: 20px;
}

.recipe__arrow {
  padding: 6px 6px 0 0;
  margin-left: auto;
}

.recipe__header, .recipe__content {
  padding: 20px;
}

.recipe__content {
  display: flex;
  justify-content: space-between;
}

.recipe__content button {
  width: 200px;
  height: 40px;
  font-size: 16px;
}

.recipe__ingredients {
  margin-right: 5px;
}

.recipe__header strong, .recipe__content strong {
  margin-right: 20px;
}

.recipe__ingredients:last-child span {
  display: none;
}