.recipe__title {
  margin-left: auto;
}

.recipe__arrow {
  padding: 6px 6px 0 0;
  margin-left: auto;
}

.recipe__header {
  display: flex;
  align-items: center;
  border: 1px solid #000;
}

.recipe__content {
  display: none;
}

.show-content {
  display: block;
}