.nav {
	background-color: rgba(255, 255, 255, 0.08);
	backdrop-filter: blur(30px);
	position: fixed;
	left: 0;
	right: 0;
	z-index: 10;
}

.navLogin,
.navLogout {
	padding: 10px 20px;
	width: auto;
	color: white;
	font-size: 22px;
	border-radius: 5px;
	transition: all 0.3s;
}

.navLogout {
	color: red;
	box-shadow: 3px 1px 3px rgba(0, 0, 0, 0.3);
	background: #666;
}

.navLogin:hover,
.navLogout:hover {
	cursor: pointer;
	transform: translateY(-4px);
	box-shadow: 3px 1px 3px rgba(0, 0, 0, 0.3);
	background: rgba(77, 74, 74, 0.6);
}

.navLogin:active,
.navLogout:active {
  transform: translateY(-1px);
} 

.navHello {
	color: #fff;
	font-size: 22px;
	margin-right: auto;
  	padding: 20px 0 0 10px;
}

.navSearch, .navAboutMe {
	margin-right: 20px;
	color: #fff;
	font-size: 22px;
	text-decoration: none;
	padding: 10px 20px;
	width: auto;
	border-radius: 5px;
	transition: all 0.3s;
	background: #666;
	box-shadow: 3px 1px 3px rgba(0, 0, 0, 0.3);
}

.navSearch:hover, .navAboutMe:hover {
	cursor: pointer;
	transform: translateY(-4px);
}

.navSearch:active, .navAboutMe:active {
  transform: translateY(-1px);
}

.navAboutMe {
	margin-left: auto;
}

.burgerMenu {
	color: #fff;
}

.showNav {
	display: flex;
	justify-content: flex-start;
	padding: 30px;
	align-items: center;
}

.showBurger {
	display: none;
}

:global(.active) {
	background-color: #222;
}

:global(.ReactModal__Overlay) {
  overflow: scroll;
}

@media (max-width: 1100px) {
	.navLogout,
	.navSearch {
		font-size: 18px;
		margin-right: 5px;
    padding: 10px 15px;
	}

	.navHello {
    font-size: 18px;
	}
}

@media (max-width: 800px) {
	.showNav {
		display: none;
	}

	.showBurger {
		display: flex;
		justify-content: flex-end;
		padding: 30px;
		align-items: center;
	}
}
