.recipes {
	margin: 180px auto;
	width: 80%;
	max-width: 1285px;
	display: flex;
	flex-direction: column;
}

.transition {  
  position: absolute;
  left: 0;
  right: 0;
}

@media(max-width: 500px) {
  .recipes {
    width: 100%;
  }
}