.modalContainer {
  background: linear-gradient(to bottom right, #53e3a6 0%, #50a3a2 100%);
  position: absolute;
  border: 1px solid rgb(204, 204, 204);
  overflow: auto;
  border-radius: 6px;
  outline: currentcolor none medium;
  padding: 20px 40px;
  font-size: 22px;
  max-width: 500px;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 500px;
}

.modal h2 {
  text-align: center; 
  letter-spacing: 1.75px;
  margin-bottom: 0;
}

.modalCorm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  letter-spacing: 1px;
  height: 200px;
  padding: 0 150px;
}

.modalInputWrap {
  display: flex;
  flex-direction: column; 
  width: 100%; 
}

.modalInputWrap input {
  width: 100%;
  height: 45px;
  border: 0;
  border-radius: 5px;
  outline: none;
  font-size: 18px;
  letter-spacing: 2px;
}

.modalInputWrap span {
  color:#ff2530;
  font-size:14px;
}

.modalButtons {
  display: flex;
  justify-content: flex-end;
  margin-top: 60px;
}

.modalButtons button {
  padding: 10px 35px;
  font-size: 22px;
  letter-spacing: 1px;
  transition: all 0.3s;
}

.modalButtons button:hover {
  transform: translateY(-5px);
  box-shadow: 1px 4px 5px #555;
}

.modalButtons button:active {
  transform: translateY(-2px);
  box-shadow: 0px 2px 2px #555;
}

.modalButtonAction {
  margin-right: 30px;
  background-color: #ace;
  border: 0;
  border-radius: 50px;
}

.modalButtonCancel {
  background-color: #f76c6c;
  border: 0;
  border-radius: 50px;
  color: #fff;
}

@media (max-width: 600px) {
	.modalButtons {
    flex-direction: column;
  }

  .modalButtonAction {
    margin: 0 0 20px 0;
  }

  .modalContainer {
    bottom: 80px;
  }
}