.App {
  /* text-align: center; */
  box-sizing: border-box;
}

.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 500ms ease-in-out;
}

.ReactModal__Overlay--after-open{
    opacity: 1;
}

.ReactModal__Overlay--before-close{
    opacity: 0;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-header i {
  text-decoration: underline;
}

.modal-content {
  background-color: #e27d60;
  position: absolute;
  inset: 40px;
  border: 1px solid rgb(204, 204, 204);
  overflow: auto;
  border-radius: 6px;
  outline: currentcolor none medium;
  padding: 20px 40px;
  font-size: 22px;
}

.modal-steps {
  padding-bottom: 20px;
}

.recipe__close {
  width: 200px;
  height: 40px;
  font-size: 16px;
  background-color:  #c38d9e;
  border-radius: 100px;
  border: 0;
  transition: all 0.2s;
  margin: 30px 30px 30px;
}

.recipe__close:hover {
  transform: translateY(-3px);
  box-shadow: 0 3px 3px rgb(95, 121, 128);
  cursor: pointer;
}

.recipe__close:active {
  transform: translateY(-1px);
  box-shadow: 0 1px 1px rgb(95, 121, 128);
}