.App {
  box-sizing: border-box;
}

:global(.ReactModal__Overlay) {
    opacity: 0;
    transition: opacity 500ms ease-in-out;
}

:global(.ReactModal__Overlay--after-open){
    opacity: 1;
}

:global(.ReactModal__Overlay--before-close){
    opacity: 0;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-header i {
  text-decoration: underline;
}

.modal-content {
  background-color: #e27d60;
  position: absolute;
  inset: 40px;
  border: 1px solid rgb(204, 204, 204);
  overflow: auto;
  border-radius: 6px;
  outline: currentcolor none medium;
  padding: 20px 40px;
  font-size: 22px;
}

.modal-steps {
  padding-bottom: 20px;
}

.recipe__close {
  width: 200px;
  height: 40px;
  font-size: 22px;
  background-color:  #c38d9e;
  border-radius: 100px;
  border: 0;
  transition: all 0.2s;
  margin: 30px 30px 30px;
}

.recipe__save {
  width: 200px;
  height: 40px;
  font-size: 22px;
  background-color:  #85dcb1;
  border-radius: 100px;
  border: 0;
  transition: all 0.2s;
  margin: 30px 30px 30px;
}

.recipe__close:hover, .recipe__save:hover {
  transform: translateY(-3px);
  box-shadow: 0 3px 3px rgb(95, 121, 128);
  cursor: pointer;
}

.recipe__close:active, .recipe__save:active {
  transform: translateY(-1px);
  box-shadow: 0 1px 1px rgb(95, 121, 128);
}

.transition {
  position: absolute;
  left: 0;
  right: 0;
}

.fadeAppear, .fadeEnter {
  opacity: 0;
  z-index: 1;
}

.fadeAppearActive, .fadeEnter.fadeEnterActive {
  opacity: 1;
  transition: opacity 500ms;
}

.fadeExit {
  opacity: 1;
}

.fadeExit.fadeExitActive {
  opacity: 0;
  transition: opacity 500ms;
}