.App {
  box-sizing: border-box;
}

:global(.ReactModal__Overlay) {
    opacity: 0;
    transition: opacity 500ms ease-in-out;
}

:global(.ReactModal__Overlay--after-open){
    opacity: 1;
}

:global(.ReactModal__Overlay--before-close){
    opacity: 0;
}

.modalHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modalHeader i {
  text-decoration: underline;
}

.modalContent {
  backdrop-filter: blur(30px);
  position: absolute;
  inset: 40px;
  border: 1px solid rgb(204, 204, 204);
  overflow: auto;
  border-radius: 6px;
  outline: currentcolor none medium;
  padding: 20px 40px;
  font-size: 22px;
  color: #fff;
  top: 180px;
}

.overlay {
  background-color: none;
  position: fixed;
  inset: 0px;
}

.modalSteps {
  padding-bottom: 20px;
}

.recipeClose {
  width: 200px;
  height: 40px;
  font-size: 22px;
  background-color:  #98342b;
  color: #fff;
  border-radius: 100px;
  border: 0;
  transition: all 0.2s;
  margin: 30px 30px 30px;
}

.recipeSave {
  width: 200px;
  height: 40px;
  font-size: 22px;
  background-color:  #acd27e;
  border-radius: 100px;
  border: 0;
  transition: all 0.2s;
  margin: 30px 30px 30px;
}

.recipeClose:hover, .recipeSave:hover {
  transform: translateY(-3px);
  box-shadow: 0 3px 3px rgb(95, 121, 128);
  cursor: pointer;
}

.recipeClose:active, .recipeSave:active {
  transform: translateY(-1px);
  box-shadow: 0 1px 1px rgb(95, 121, 128);
}

.transition {
  position: absolute;
  left: 0;
  right: 0;
}

.fadeAppear, .fadeEnter {
  opacity: 0;
  z-index: 1;
}

.fadeAppearActive, .fadeEnter.fadeEnterActive {
  opacity: 1;
  transition: opacity 500ms;
}

.fadeExit {
  opacity: 1;
}

.fadeExit.fadeExitActive {
  opacity: 0;
  transition: opacity 500ms;
}